extends layout

block imports
	script(src="http://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous")
	script(src='/javascript/miner.bundle.js', type='text/javascript' charset='utf-8')
	script(src='/javascript/js.js', type='text/javascript' charset='utf-8')

block content
	h1 CoinCoin
	if balance
		<div id="transferForm" class="form-style-8">
	else
		<div id="transferForm" class="form-style-8" style="display: none;">
	<form>
	<input type="text" id ="targetAddress" name="targetAddress" placeholder="Target Address" value="3c7125da0ce036a588eddd0a2f59d7590f420ceab3748254ea46532d8fa68a70" />
	<input type="text" id="amount" name="amount" placeholder="Amount" value="10" />
	</form>
	</div>
	if balance
		button(id="transfer") transfer (balance: #{balance} coincoins)
		button(id="mine") mine	
	else
		<div id="loginForm" class="form-style-8">
		<form>
		<input type="text" id ="walletID" name="walletID" placeholder="WalletID" value="6eae67cac34b6569d388c8905d59cab1735d66e702ce5b39147d28903ed1a495" />
		<input type="password" id="walletPassword" name="walletPassword" placeholder="Password" value="dg1tcq1t" />
		</form>
		</div>
		div(id="passwordOutput")
		button(id="login") login
		button(id="transfer", style="display: none;")
		button(id="mine", style="display: none;") mine
		button(id="new") create new wallet