extends layout

block imports
	script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous")
	script(src='https://martinchapman.co.uk/coincoin/javascript/miner.bundle.js', type='text/javascript' charset='utf-8')
	script(src='https://martinchapman.co.uk/coincoin/javascript/js.js', type='text/javascript' charset='utf-8')

block content
	| <div class="notice info"><p>Only illustrative. Content may be deleted at any time.</p></div>
	a(href="https://github.com/martinchapman/coincoin", style="text-decoration: none;")
		h1 CoinCoin
	
	if balance
		<div id="loginForm" class="form-style-8" style="display:none">
	else
		<div id="loginForm" class="form-style-8">
	<form>
	<input type="text" id ="walletID" name="walletID" placeholder="WalletID" />
	<input type="password" id="walletPassword" name="walletPassword" placeholder="Password" />
	</form>
	</div>
	
	if balance
		<span id="loginNew" style="display: none;">
	else
		<span id="loginNew" >
	div(id="passwordOutput")
	button(id="login") login
	button(id="new") create new wallet
	</span>
	
	if balance
		<div id="transferForm" class="form-style-8">
	else
		<div id="transferForm" class="form-style-8" style="display: none;">
	<form>
	<input type="text" id ="targetWallet" name="targetWallet" placeholder="Target Wallet" />
	<input type="text" id="amount" name="amount" placeholder="Amount" />
	</form>
	</div>
	
	if balance
		<span id="transferMine">
	else
		<span id="transferMine" style="display: none;">
	button(id="transfer") transfer (balance: #{balance} coincoins)
	button(id="mine") mine
	</span>

	a(href="https://martinchapman.co.uk/coincoin/chain")
		button(id="chain") view chain
	p
		if balance
			span(id="logout")
				a(href="") Logout
				|.  
		else
			span(id="logout", style="display: none;") 
				a(href="") Logout
				|. 
		| Powered by 
		a(href="https://github.com/martinchapman/naivecoin") Naivecoin