extends layout

block imports
	script(src="https://code.jquery.com/jquery-3.3.1.min.js", integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", crossorigin="anonymous")
	script(src='/javascript/miner.bundle.js', type='text/javascript' charset='utf-8')
	script(src='/javascript/js.js', type='text/javascript' charset='utf-8')

block content
	h1 CoinCoin
	<div class="form-style-8">
	<form>
	<input type="text" id ="walletID" name="walletID" placeholder="WalletID" value="6eae67cac34b6569d388c8905d59cab1735d66e702ce5b39147d28903ed1a495" />
	<input type="password" id="walletPassword" name="walletPassword" placeholder="Password" value="dg1tcq1t" />
	</form>
	</div>
	div(id="passwordOutput")
	button(id="login") login
	button(id="new") create new wallet
	button(id="mine") mine