doctype html
html
	head
		title="Martin Chapman | CoinCoin"
		link(rel='stylesheet', href='https://martinchapman.co.uk/coincoin/stylesheets/style.css')
		block imports
		script(type='text/javascript' charset='utf-8')
			block script
	body
		div(id="overlay")
		block content