doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block imports
    script(type='text/javascript' charset='utf-8')
      block script
  body
    block content