doctype html
html
	head
		title="Martin Chapman | CoinCoin"
		link(rel='stylesheet', href='https://martinchapman.co.uk/coincoin/stylesheets/style.css')
		block imports
		script(type='text/javascript' charset='utf-8')
			block script
	body
		div(id="overlay")
			
			p(class="text-box" style="color: white;")
				| What's happening? You're using your computer's power to increase the security of CoinCoin. In return, we give you some sweet coins. This may take a while.
			button(id="cancel") cancel
		block content