@import url(https://fonts.googleapis.com/css?family=Noto+Serif);
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

body, html {
	height:100%;
}

body {
	padding: 50px;
  	font: 20px 'Noto Serif', serif;
  	margin: 0;
  	background:rgb(255, 253, 231);
  	color: rgb(235,31,72);
  	letter-spacing:.2px;
  	text-align: center;
}

h1 {
	font: 50px 'Press Start 2P', cursive;
}

a {
	color: inherit;
}

button {
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  background-color: rgb(235,31,72);
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 100;
  text-decoration: none;
  user-select: none;
  letter-spacing: 1px;
  color: white;
  padding: 20px 40px;
  text-transform: uppercase;
  border: none;
  margin: 10px;
  cursor: pointer;
}


.button:hover {
	background-color: #2CD892;
}

.form-style-8{
    width: 500px;
    padding: 30px;
    margin: 50px auto;
}

.form-style-8 input[type="text"],
.form-style-8 input[type="date"],
.form-style-8 input[type="datetime"],
.form-style-8 input[type="email"],
.form-style-8 input[type="number"],
.form-style-8 input[type="search"],
.form-style-8 input[type="time"],
.form-style-8 input[type="url"],
.form-style-8 input[type="password"],
.form-style-8 textarea,
.form-style-8 select
{
	font: inherit;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    height: 45px;
}

.form-style-8 textarea{
    resize:none;
    overflow: hidden;
}

.notice {
  position: relative;
  margin: 1em;
  background: #F9F9F9;
  padding: 1em 1em 1em 2em;
  border-left: 4px solid #DDD;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
  color: #000;
}

.notice:before {
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: -17px;
  background-color: #DDD;
  color: #FFF;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  font-family: Georgia;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.info {
  border-color: #0074D9;
}

.info:before {
  content: "i";
  background-color: #0074D9;
}

#overlay {
    background-image: url("https://steemitimages.com/0x0/https://steemitimages.com/DQmUFMnFvDX8jyqrpkvAr9GeyJKNYaLpCrRqrtLUJSdEXaf/video4.gif");
    z-index: 999;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}​